:root{
  --color-white: #FFFFFF;
  --color-blue-100: #2A7AE4;
  --color-blue-80: #5595E9;
  --color-blue-20: #D4E4FA;
  --color-blue-10: #EAF2FD;
  --color-black-100: #464646;
  --color-black-50: #A2A2A2;
  --color-black-30: #C8C8C8;
  --color-black-05: #F5F5F5;

  --font-family: 'Raleway', sans-serif;

  --title-font-size: 3rem;
  --subtitle-font-size: 1.5rem;
  --text-font-size: 1rem;

  --content-button-file-tablet: 'Procure no seu tablet';
  --content-button-file-pc: 'Procure no seu computador';
}

html {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-black-05);
}

.header {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-search {
  display: flex;
  width: 34%;
}

.search-input {
  background-color: var(--color-black-05);
  border: 0;
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem;
  width: 100vw;
}

.search-button {
  appearance: none;
  background-color: var(--color-black-05);
  border: 0;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

.button {
  appearance: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.button--primary {
  border: none;
  background-color: var(--color-blue-100);
  color: white;
}

.button--primary:hover {
  background-color: var(--color-blue-80);
}

.button--secondary {
  border: 1px solid var(--color-blue-100);
  background-color: transparent;
  color: var(--color-blue-100);
}

.button--secondary:hover {
  background-color: var(--color-blue-20);
}

.banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url("../assets/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 50vh;
  width: 100vw;
}

.banner__content {
  margin-left: 8vw;
}

.banner__title, .banner__subtitle, .banner__button {
  margin-bottom: 1.25rem;
}

.banner__title {
  color: white;
  font-size: var(--title-font-size);
}

.banner__subtitle {
  color: white;
  font-size: var(--subtitle-font-size);
}

.banner__button {
  padding: 1rem 1rem;
}

.products {
  margin-left: 8vw;
  margin-right: 8vw;
}

.products__category__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0.5rem 0;
}

.products__category__title {
  color: var(--color-black-100);
  font-size: var(--title-font-size);
  font-weight: 700;
}

.products__category__link {
  color: var(--color-blue-100);
  text-decoration: none;
  font-weight: 700;
}

.products__category__link:hover {
  text-decoration: underline;
}

.products__category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__category__item__link {
  text-decoration: none;
}

.products__category__item__image, 
.products__category__item__name, 
.products__category__item__price, 
.products__category__item__cta {
  margin-bottom: 0.5rem;
}

.products__category__item__name {
  color: var(--color-black-100);
}

.products__category__item__price {
  color: var(--color-black-100);
  font-weight: 700;
}

.products__category__item__cta {
  color: var(--color-blue-100);
  font-weight: 700;
}

.products__category__item__cta:hover {
  text-decoration: underline;
}

.menu-down {
  align-items: center;
  background-color: var(--color-blue-10);
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  width: 100vw;
}

.menu-down__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
}

.menu-down__item__link {
  color: var(--color-black-100);
  text-decoration: none;
}

.menu-down__item__link:hover {
  color: var(--color-black-100);
  text-decoration: underline;
}

.contact-us {
  background-color: var(--color-blue-10);
  height: auto;
  padding: 0.5rem;
  width: auto;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
}

.contact-us__title {
  color: var(--color-black-100);
  font-weight: 700;
  padding: 0.5rem 0;
}

.input {
  border: 0;
  box-shadow: 0 1px 1px var(--color-black-50);
  margin-bottom: 0.5rem;
  padding: 0.75rem;
}

/* .contat-us__input--name:focus {
  border: none;
} */

.contact-us__input--message {
  font-family: var(--font-family);
  height: 15vh;
  width: auto;
}

.contact-us__label--name {
  background-color: white;
  color: var(--color-black-50);
  font-size: 0.75rem;
  padding: 0.5rem;
}

.label--hidden {
  display: none;
}

.footer {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
}

.footer__text {
  color: var(--color-black-100);
}

.footer__link {
  color: var(--color-black-100);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.login {
  align-items: center;
  background-color: var(--color-black-05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
  width: auto;
}

.login__title {
  font-size: var(--text-font-size);
  font-weight: 700;
  padding: 1.5rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product__image {
  height: 45vh;
  object-fit: cover;
  width: 100vw;
}

.product__information {
  margin: 1rem 2.5rem;
}

.product__information__name {
  color: var(--color-black-100);
  font-size: var(--subtitle-font-size);
  font-weight: 500;
  margin-bottom: 1rem;
}

.product__information__price {
  color: var(--color-black-100);
  font-weight: 700;
  margin-bottom: 1rem;
}

.product__information__description {
  color: var(--color-black-100);
}

.add-product {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 0;
}

.add-product__title {
  font-size: var(--text-font-size);
  font-weight: 700;
  padding: 1.5rem;
}

.add-product__form {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.add-product__form__input--file {
  background-color: var(--color-white);
  border: 1px dashed var(--color-black-30);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-around;
}

.add-product__form__input--file__icon {
  margin: 0 auto;
}

.file-icon--image {
  display: none;
}

.add-product__form__input--file--text {
  color: var(--color-black-50);
  margin: 0 auto;
}

.add-product__form__input-area__text {
  color: var(--color-black-100);
  display: none;
  margin: 1rem;
}

.add-product__form__button--file {
  display: none;
  padding: 1rem;
}

.add-product__form__label {
  background-color: white;
  color: var(--color-black-50);
  font-size: 0.75rem;
  padding: 0.5rem;
}

.add-product__form__description {
  font-family: var(--font-family);
  height: 15vh;
  width: auto;
}

.admin__products {
  margin: 0 8vw;
}

.admin__products__header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0.5rem 0;
}

.admin__products__title {
  color: var(--color-black-100);
  font-size: var(--subtitle-font-size);
  font-weight: 700;
}

.admin__products__button-include-product {
  padding: 1rem 2rem;
  text-decoration: none;
}

.admin__products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .form-search {
    display: none;
  }

  .mobile-search-button--toggle {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    padding: 1rem;
  }

  .products__category__list 
  .products__category__item:nth-child(n+5) {
    display: none;
  }

  .products__category__title {
    font-size: var(--subtitle-font-size);
  }

  .admin__products__header {
    align-items: flex-start;
    flex-direction: column;
  }

  .admin__products__button-include-product {
    margin: 1rem 0;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-search-button--toggle {
    display: none;
  }

  .products__category__list 
  .products__category__item:nth-child(n+5) {
    display: none;
  }

  .footer-menu {
    display: flex;
  }

  .menu-down {
    width: 35vw;
  }
  
  .menu-down__list {
    align-items: flex-start;
  }

  .contact-us {
    height: 50vh;
    padding: 0;
    width: 65vw;
  }

  .contact-us__form {
    width: 95%;
  }

  .login__form {
    width: 40%;
  }

  .product {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3vh 8vw;
  }

  .product__image {
    height: auto;
    object-fit: fill;
    width: 35%;
  }

  .file-icon--image {
    display: block;
  }

  .file-icon--plus {
    display: none;
  }

  .add-product__form__input-area {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .add-product__form__input-area__text {
    display: block;
  }
  
  .add-product__form__button--file {
    display: block;
  }

  .add-product__form__button--file:after {
    content: var(--content-button-file-tablet);
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .mobile-search-button--toggle {
    display: none;
  }

  .footer-menu {
    display: flex;
  }
  
  .menu-down {
    width: 50vw;
    flex-direction: row;
  }
  
  .menu-down__list {
    align-items: flex-start;
  }

  .contact-us {
    height: 50vh;
    padding: 0;
    width: 50vw;
  }

  .contact-us__form {
    width: 95%;
  }

  .login__form {
    width: 30%;
  }

  .product {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3vh 7vw;
  }

  .product__image {
    height: auto;
    object-fit: fill;
    width: 50%;
  }

  .add-product__form {
    width: 35vw;
    height: 70vh;
  }

  .file-icon--image {
    display: block;
  }

  .file-icon--plus {
    display: none;
  }

  .add-product__form__input-area {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .add-product__form__input-area__text {
    display: block;
  }
  
  .add-product__form__button--file {
    display: block;
  }

  .add-product__form__button--file:after {
    content: var(--content-button-file-pc);
  }
}